$yellow: #FBB12F;
$dark: #0f0e0e;

@mixin mainWindow() {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin blurNav() {
    backdrop-filter: blur(5px);
    backface-visibility: hidden;
    background-color: rgba(27 32 44/70%);
}