<<<<<<< HEAD
@import 'login';
@import 'header';

=======
@import "_similar";
@import "user";
>>>>>>> bdd3b9727a7b4a84c3bd48a6075f95f727381bb2

* {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
}
