.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo_nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
        width: 130px;
    }
}
.nav_list {
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        font-size: 12px;
        margin: auto 15px;
        transition: 0.2s all;
        color: $dark;
    }
    a:hover {
        color: $yellow;
    }

}
.right_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        font-size: 10px;
        margin: auto 10px;
        padding: 5px 30px;
        background-color: $yellow;
        color: white;
        border-radius: 20px;
         border: 0.5px solid transparent;
    }
    .contact_btn {
        background-color: white;
        border: 0.5px solid $yellow;
        color: $yellow;
    }
    a:hover {
        background-color: white;
        border: 0.5px solid $yellow;
        color: $yellow;
    }
    .contact_btn:hover {
        background-color: $yellow;
        color: white;
        border: 0.5px solid transparent;
    }
}

@media (max-width : 700px) {
    .navBar {
        justify-content: space-between;
        padding: 15px auto;
    }
    .logo_nav {
        img {
            width: 100px;
        }
    }
    .nav_list {
        width: 100%;
        position: fixed;
        top: -90px;
        left: 0;
        background-color: white;
        flex-direction: column;
        a {
            font-size: 10px;
            margin: 15px auto;
        }
    }
    .right_nav {
        a {
            font-size: 9px;
            padding: 4px 20px;
            margin: auto 5px;
        }
    }
}